body {
    background-color: #dedede;
}

/*@-webkit-keyframes demo {
    from {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    to {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

@keyframes demo {
    from {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    to {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}*/

