
@{
    ViewBag.Title = "DemoLogin";
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/favicon.png">
    <title>Bug Tracker - Demo Login</title>
    <!-- Custom CSS -->
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/demo.css" rel="stylesheet" />
</head>

<body style="background-color: #a3a3a3">
    <div class="row py-5"></div>
    <div class="row container-fluid text-center">
        <div class="col-md-3 text-center">
            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("emailKey", "DemoAdminEmail")
                <button type="submit" class="card text-center demologin">
                    <div class="card-body">
                        <div class="text-center">
                            <h3>Admin</h3>
                        </div>
                        <div class="text-center">
                            <img src="~/Avatars/default_user.png" class="rounded-circle img-fluid" width="300" />
                        </div>
                        <div class="text-center">
                            asdfasdf
                        </div>
                    </div>
                </button>
            }

        </div>
        <div class="col-md-3">
            <button type="submit" class="card text-center demologin">
                <div class="card-body">
                    <div class="text-center">
                        <h3>Project Manager</h3>
                    </div>
                    <div class="text-center">
                        <img src="~/Avatars/default_user.png" class="rounded-circle img-fluid" width="300" />
                    </div>
                    <div class="text-center">
                        asdfasdf
                    </div>

                </div>
            </button>
        </div>
        <div class="col-md-3">
            <button type="submit" class="card text-center demologin">
                <div class="card-body">
                    <div class="text-center">
                        <h3>Developer</h3>
                    </div>
                    <div class="text-center">
                        <img src="~/Avatars/default_user.png" class="rounded-circle img-fluid" width="300" />
                    </div>
                    <div class="text-center">
                        asdfasdf
                    </div>

                </div>
            </button>
        </div>
        <div class="col-md-3">
            <button type="submit" class="card text-center demologin">
                <div class="card-body">
                    <div class="text-center">
                        <h3>Submitter</h3>
                    </div>
                    <div class="text-center">
                        <img src="~/Avatars/default_user.png" class="rounded-circle img-fluid" width="300" />
                    </div>
                    <div class="text-center">
                        asdfasdf
                    </div>

                </div>
            </button>
        </div>
    </div>

</body>

</html>

<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/assets/extra-libs/sparkline/sparkline.js"></script>

<!--Custom JavaScript -->
<script src="~/Scripts/js/custom.min.js"></script>