@{
    ViewBag.Title = "Reset password confirmation";
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Bugtracker - Forgot Password</title>
    <!-- Custom CSS -->
    <link href="~/Content/style.min.css" rel="stylesheet" />

</head>

<body>
    <div class="main-wrapper">
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
            <div class="auth-box bg-dark border-top border-secondary">
                <p style="color:white">
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", null, htmlAttributes: new { style = "color: white" })
                </p>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>

</html>
